<!doctype html>
<html class="no-js" lang="en" ng-app="neow">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>{{ 'SITE_TITLE' | translate }}</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="apple-touch-icon" href="static/icon/Wallet_my_zzt.png">
	<link rel="icon" href="static/icon/Wallet_my_zzt.png" type="image/x-icon" />
	<link rel="shortcut icon" href="static/icon/Wallet_my_zzt.png" type="image/x-icon" />

	<!-- CSS -->
    <link rel="stylesheet" href="static/css/google-font.css">
	<link rel="stylesheet" href="static/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/css/font-awesome.min.css">
	<link rel="stylesheet" href="static/css/wallet.css">

	<!-- Javascript -->
	<script src="https://cdn.bootcss.com/modernizr/2.8.3/modernizr.min.js"></script>
	<script src="https://cdn.bootcss.com/jquery/1.12.0/jquery.min.js"></script>
	<script>if (typeof module === 'object') {window.jQuery = window.$ = module.exports;}</script>
	<script src="static/js/vendor/plugins.js"></script>

	<script src="https://cdn.bootcss.com/angular.js/1.6.4/angular.min.js"></script>
	<script src="https://cdn.bootcss.com/angular-translate/2.15.1/angular-translate.min.js"></script>
	<script src="https://cdn.bootcss.com/angular-translate/2.15.1/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
	<script src="https://cdn.bootcss.com/angular-ui-bootstrap/0.11.2/ui-bootstrap-tpls.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdn.bootcss.com/sql.js/0.4.0/js/sql.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>

	<script src="static/js/vendor/CryptoJS/sha256.js"></script>
	<script src="static/js/vendor/CryptoJS/ripemd160.js"></script>
	<script src="static/js/vendor/CryptoJS/aes.js"></script>
	<script src="static/js/vendor/CryptoJS/pad-nopadding.js"></script>

    <script src="static/js/vendor/decimal-7.3.0.min.js"></script>

	<!--<script src="static/js/vendor/sm.js"></script>-->
	<script src="static/js/vendor/ecdsa_bundle.js"></script>
	<script src="static/js/vendor/secp256k1_bundle.js"></script>
	<script src="static/js/wallet.js"></script>
	<script src="app.js"></script>

	<script language="javascript">
        function setTabFromURL() {
            var url = document.location.toString();
            if (url.match('#')) {
                $('#mainTab a[href="#'+url.split('#')[1]+'"]').tab('show');
            }
        }

        window.onload = setTabFromURL;
	</script>
</head>

<body ng-controller="WalletCtrl" ng-init="init()">
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header>
        <div class="navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a class="logo-title" href="#" aria-expanded="false"><i class="fa fa-line-chart" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'SITE_TITLE' | translate }}</a>
                        </li>
                        <li>
                            <a href="#" aria-expanded="false">{{version}}</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar-collapse collapse" id="navbar-main">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" role="button" aria-expanded="false"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp; {{ 'DOWNLOADS' | translate }} <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-repeat="dl in downloads"><a href="#" ng-click="changeDownloadSelectIndex(dl)">{{dl.name + '-' + desktopVersion}}</a></li>
                            </ul>
                        </li>
                        <li>
                            <a target="_blank" href="{{bbsUrl}}"><i class="fa fa-coffee" aria-hidden="true"></i>&nbsp;&nbsp; {{ 'FEEDBACK' | translate }}</a>
                        </li>
                        <!--<li class="dropdown">-->
                        <li>
                            <!--<a href="#" class="dropdown-toggle" role="button" aria-expanded="false"><i class="fa fa-globe" aria-hidden="true"></i>&nbsp;&nbsp;{{langs[langSelectIndex].name}} <span class="caret"></span></a>-->
                            <!--<ul class="dropdown-menu" role="menu">-->
                            <!--<li ng-repeat="lang in langs"><a href="#" ng-click="changeLangSelectIndex($index)">{{lang.name}}</a></li>-->
                            <!--</ul>-->
                            <a href="#" ng-click="changeLangSelectIndex()"><i class="fa fa-globe" aria-hidden="true"></i>&nbsp;&nbsp; {{langs[langSelectIndex].name}}</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" role="button" aria-expanded="false"><i class="fa fa-server" aria-hidden="true"></i>&nbsp;&nbsp;{{hostInfo[hostSelectIndex].hostName}} <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-repeat="host in hostInfo"><a href="#" ng-click="changehostSelectIndex($index)" value="{{host.hostName}}">{{host.hostName}}</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="container main">

        <br/>

        <!-- main -->
        <div class="page-header">
            <ul class="nav nav-tabs" id="mainTab">
                <li role="presentation"><a href="#generateWallet" data-toggle="tab" translate="GENERATE_WALLET">Generate Wallet</a></li>
                <li role="presentation" class="active"><a href="#sendTransaction" data-toggle="tab" translate="SEND_TRANSACTION">Send Transaction</a></li>
            </ul>
        </div>

        <div class="tab-content">

            <!-- #generateWallet tab-->
            <div class="tab-pane fade" id="generateWallet" ng-controller="GenerateWalletCtrl">


                <div class="row jumbotron" ng-show="showCreateWallet">

                    <!-- Column 1 - Select Type of Create -->
                    <div class="form-group col-lg-4 col-md-4 col-sm-4">
                        <h4 translate="GW_INFO">What type would you like to create your wallet?</h4>
                        <div class="radio">
                            <label>
                                <input type="radio" ng-model="createType" value="fromRandomPrivateKey" name="radioFromRandomPrivateKey" id="radioFromRandomPrivateKey">
                                <span translate="NEW_WALLET">New Wallet</span>
                            </label>
                        </div>

                        <div class="radio">
                            <label>
                                <input type="radio" ng-model="createType" value="fromPrivateKey" name="radioFromPrivateKey" id="radioFromPrivateKey">
                                <span translate="FROM_PRIVATE_KEY">From Private Key</span>
                            </label>
                        </div>
                    </div>
                    <!-- Column 1 - Select Type of Key -->

                    <div class=" col-lg-8 col-md-8 col-sm-8">

                        <!-- password confirm -->
                        <div class="form-group {{styleStringOfCreatePassword1}}">
                            <label class="control-label" translate="ENTER_PWD_1">Enter a strong password (at least 8 characters):</label><br />
                            <div class="input-group">
                                <input ng-if="!isDisplayPassword" class="form-control" ng-change="changeCreatePassword1()" ng-model="$parent.createPassword1" placeholder="{{ 'PASSWORD' | translate }}" aria-label="password" type="password" onfocus="this.type='password'" autocomplete="off" />
                                <input ng-if="isDisplayPassword" class="form-control" ng-change="changeCreatePassword1()" ng-model="$parent.createPassword1" placeholder="{{ 'PASSWORD' | translate }}" aria-label="password" type="text" />
                                <span class="input-group-btn" style="font-size: 15px" ng-if="!isDisplayPassword">
                                        <button type="button" class="btn btn-default" ng-click="changeDisplayPassword()">&nbsp;&nbsp;<i class="fa fa-eye" aria-hidden="true"></i>&nbsp;&nbsp;</button>
                                    </span>
                                <span class="input-group-btn" style="font-size: 15px" ng-if="isDisplayPassword">
                                        <button type="button" class="btn btn-default" ng-click="changeDisplayPassword()">&nbsp;&nbsp;<i class="fa fa-eye-slash" aria-hidden="true"></i>&nbsp;&nbsp;</button>
                                    </span>
                            </div>
                        </div>

                        <div class="form-group {{styleStringOfCreatePassword2}}">
                            <label class="control-label" translate="RE_ENTER_PASSWORD">Re-Enter password:</label>
                            <input ng-if="!isDisplayPassword" class="form-control " ng-change="changeCreatePassword2()" ng-model="$parent.createPassword2" placeholder="{{ 'RE_ENTER_PASSWORD' | translate }}" type="password" onfocus="this.type='password'" autocomplete="off"/>
                            <input ng-if="isDisplayPassword" class="form-control " ng-change="changeCreatePassword2()" ng-model="$parent.createPassword2" placeholder="{{ 'RE_ENTER_PASSWORD' | translate }}" type="text" />
                        </div>

                        <!-- fromRandomPrivateKey -->
                        <div id="fromRandomPrivateKey" ng-if="createType=='fromRandomPrivateKey'">
                            <br />

                            <div class="form-group" ng-if="showBtnGenerateWallet">
                                <button class="btn btn-primary btn-block" ng-click="generateWalletFileFromRandomPrivateKey()" translate="GENERATE_WALLET">Generate Wallet</button>
                            </div>
                        </div>

                        <!-- fromPrivateKey -->
                        <div id="fromPrivateKey" ng-if="createType=='fromPrivateKey'">
                            <div class="form-group">
                                <label class="control-label" translate="GW_PASTE_YOUR_PRIVATE_KEY">Paste Your Private Key:</label>
                                <input class="form-control" type="text" ng-model="$parent.privateKey" placeholder="" aria-label="">
                            </div>

                            <div class="form-group" ng-if="showBtnGenerateWallet">
                                <button class="btn btn-primary btn-block" ng-click="generateWalletFileFromPrivateKey()" translate="GENERATE_WALLET">Generate Wallet</button>
                            </div>
                        </div>


                    </div>

                </div>

                <div class="row jumbotron" ng-show="showCreateWalletDownload">
                    <div class="col-lg-12 col-md-12 col-sm-12">

                        <h4 translate="GW_SAVE_WALLET_FILE">1. Save your Wallet File encrypted by your password.</h4>
                        <div class="form-group">
                            <a tabindex="0" role="button" class="btn btn-primary btn-block" href="{{objectURL}}" download="wallet--{{objectName}}.db3" ng-click="downloaded()" translate="DOWNLOAD">Download</a>
                        </div>

                        <br />

                        <h4 translate="GW_YOUR_PRIVATE_KEY">2. Your Private Key, Please keep it safe.</h4>
                        <div class="form-group">
                            <div class="input-group">
                                <label for="privateKey"></label><input ng-if="!isDisplayPrivateKey" class="form-control" type="password" ng-model="privateKey" id="privateKey" name="privateKey" readonly="readonly" aria-label="privateKey">
                                <label for=""></label><input ng-if="isDisplayPrivateKey" class="form-control" type="text" ng-model="privateKey" id="" name="privateKey" readonly="readonly" aria-label="privateKey">
                                <span class="input-group-btn" style="font-size: 15px" ng-if="!isDisplayPrivateKey">
                                    <button type="button" class="btn btn-default" ng-click="changeDisplayPrivateKey()">&nbsp;&nbsp;<i class="fa fa-eye" aria-hidden="true"></i>&nbsp;&nbsp;</button>
                                </span>
                                <span class="input-group-btn" style="font-size: 15px" ng-if="isDisplayPrivateKey">
                                    <button type="button" class="btn btn-default" ng-click="changeDisplayPrivateKey()">&nbsp;&nbsp;<i class="fa fa-eye-slash" aria-hidden="true"></i>&nbsp;&nbsp;</button>
                                </span>
                                <input class="form-control" type="hidden" id="key" name="key" readonly="readonly" aria-label="key">
                            </div>
                        </div>

                        <br />

                        <h4 translate="GW_YOUR_ADDRESS">3. Your address.</h4>
                        <div class="form-group">
                            <input class="form-control" type="text" ng-model="address" id="address" name="address" readonly="readonly">
                        </div>

                        <br />

                        <div class="form-group" ng-if="fileDownloaded">
                            <button class="btn btn-default btn-block" ng-click="nextstep()" translate="GW_NEXT_STEP">Next Step: Make Transaction</button>
                        </div>

                    </div>
                </div>

            </div>

            <!-- #sendTransaction tab-->
            <div class="tab-pane fade active in" id="sendTransaction">

                <div class="row jumbotron" ng-show="showOpenWallet">
                    <!-- Column 1 - Select Type of Key -->
                    <div class="form-group col-lg-4 col-md-4 col-sm-6">
                        <h4 translate="MT_INFO">How would you like to access your wallet?</h4>
                        <div class="radio">
                            <label>
                                <input type="radio" ng-model="walletType" value="fileupload" name="radiofile" id="radiofile">
                                <span translate="KEYSTORE_FILE">Keystore File (DB / DB3)</span>
                            </label>
                        </div>

                        <div class="radio">
                            <label>
                                <input type="radio" ng-model="walletType" value="pasteprivkey" name="radioprivkey" id="radioprivkey">
                                <span translate="PRIVATE_KEY">Private Key</span>
                            </label>
                        </div>
                    </div>
                    <!-- Column 1 - Select Type of Key -->

                    <div class="col-lg-8 col-md-8 col-sm-8">

                        <!-- fileupload -->
                        <div id="fileupload" ng-if="walletType=='fileupload'">
                            <h4 translate="SELECT_YOUR_WALLET_FILE">Select Your Wallet File</h4>
                            <input style="display:none;" type="file" on-read-file="showContent($wallet)" id="fselector" />
                            <button class="btn btn-default btn-block" ng-click="openFileDialog()" translate="BTN_SELECT_WALLET_FILE">Select Wallet File...</button >

                            <div ng-if="requirePass" class="form-group has-success">
                                <label class="control-label" translate="MT_YOUR_WALLET_IS_ENCRYPTED">Your wallet is encrypted. Please enter the password:</label>
                                <input class="form-control show-password" ng-change="onFilePassChange()" ng-model="$parent.$parent.filePassword" placeholder="{{ 'PASSWORD' | translate }}" type="text" onfocus="this.type='password'" autocomplete="off"/>
                            </div>

                            <div ng-if="showBtnUnlock">
                                <h4 translate="UNLOCK_YOUR_WALLET">Unlock your wallet</h4>
                                <button class="btn btn-primary btn-block" ng-click="decryptWallet()" translate="BTN_UNLOCK">Unlock</button>
                            </div>
                        </div>

                        <!-- pasteprivkey -->
                        <div id="pasteprivkey" ng-if="walletType=='pasteprivkey'">
                            <h4 translate="MT_PASTE_YOUR_PRIVATE_KEY">Paste Your Private Key</h4>
                            <textarea class="form-control" ng-change="onPrivateKeyChange()" ng-model="$parent.privateKeyData" placeholder="" rows="3" aria-label="privateKeyData"></textarea>

                            <br />

                            <div ng-if="showBtnUnlockPrivateKey">
                                <h4 translate="UNLOCK_YOUR_WALLET">Unlock your Wallet</h4>
                                <button class="btn btn-primary btn-block" ng-click="decryptWallet()" translate="BTN_UNLOCK">Unlock</button>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row jumbotron" ng-show="showTransaction">
                    <!-- base info -->
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div>
                            <h3 translate="MT_ACCOUNT_INFO">Account Info</h3> <br />
                            <div class="form-group">
                                <label class="control-label" translate="ADDRESS">Address: </label>
                            </div>
                            <div class="form-group">
                                <span id="walletAddress">{{accounts[accountSelectIndex].address}}</span>
                            </div>
                            <div>
                                <button class="btn copy-btn btn-primary btn-xs" data-clipboard-text={{accounts[accountSelectIndex].address}} translate="MT_COPY_ADDRESS">Copy Address</button>
                            </div>
                            <div><hr /></div>

                            <div class="form-group">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <td width="50%"><b>{{ 'ASSETNAME' | translate }}</b></td>
                                            <td><b>{{ 'BALANCE' | translate }}</b></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="coin in coins">
                                            <td width="50%">{{coin.AssetName}}</td>
                                            <td>{{coin.balanceView}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div><hr /></div>

                            <div>
                                <span>{{ 'NOTIFIER_NODE_HEIGHT' | translate }}{{ " " }}  <a title="{{ 'REFRESH' | translate }}" ng-click="getUnspent(accounts[accountSelectIndex].address)" href="#">{{nodeHeight}}</a> {{"   ( " + getNodeHeightLastTime + " )"}}</span>
                                <br /><br />
                            </div>
                        </div>
                    </div>

                    <!-- transaction -->
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <h3 translate="MT_SEND_TRANSACTION">Send Transaction</h3> <br />

                        <div class="form-group">
                            <div>
                                <select class="form-control" ng-model="txType" ng-change="changeTxType()" ng-options="x.id as x.name for x in txTypes"></select>
                            </div>
                        </div>

                        <!-- Issue Asset -->
                        <div ng-if="txType==1">
                            <div class="form-group">
                                <label class="control-label" translate="MT_ISSUE_ASSETID">Issue AssetID</label>
                                <input class="form-control" ng-model="issueAsset.issueAssetID" name="issueAssetID" placeholder="{{ 'MT_ISSUE_ASSETID' | translate }}" type="text" />
                            </div>

                            <div class="form-group">
                                <label class="control-label" translate="MT_ISSUE_AMOUNT">Issue Amount</label>
                                <input class="form-control" ng-model="issueAsset.issueAmount" name="issueAmount" placeholder="{{ 'MT_ISSUE_AMOUNT' | translate }}" type="text" onkeyup="this.value=this.value.replace(/[^0-9-]+/,'');" />
                            </div>

                            <div class="form-group">
                                <hr />
                                <button class="btn btn-primary btn-block" ng-click="issueTransaction()" translate="BTN_ISSUE_TRANSACTION">Issue Transaction</button>
                            </div>
                        </div>

                        <!-- Transfer Transaction -->
                        <div ng-if="txType==128">
                            <div class="form-group">
                                <label class="control-label" translate="MT_TO_ADDRESS">To Address</label>
                                <input class="form-control" ng-model="Transaction.ToAddress" name="toAddress" placeholder="{{ 'ADDRESS' | translate }} ..." type="text"/>
                            </div>

                            <div class="form-group">
                                <label class="control-label" translate="MT_AMOUNT_TO_SEND">Amount to Send</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-model="Transaction.Amount" name="Amount" value="" placeholder="{{ 'AMOUNT' | translate }}" aria-label="amount" />

                                    <div class="input-group-btn">
                                        <button type="button" style="min-width: 158px;" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{coins[coinSelectIndex].AssetName}}&nbsp;&nbsp;<span class="caret"></span></button>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li ng-repeat="coin in coins"><a data-toggle="tab" href="#" ng-click="changeCoinSelectIndex($index)">{{coin.AssetName}}</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <hr />
                                <button class="btn btn-primary btn-block" ng-click="openModal()" ng-disabled="!Transaction.able" translate="BTN_TRANSFER_TRANSACTION">Transfer Transaction</button>
                            </div>
                            <div class="form-group" ng-show="waitingSecond">
                                <label class="control-label" translate="MT_PLEASE_WAITING">Please waiting for</label>
                                <span>{{countdown}}</span>
                                <label class="control-label" translate="MT_SECOND">s</label><br/>
                            </div>

                        </div>

                        <!-- Register Asset -->
                        <div ng-if="txType==64">
                            <div class="form-group">
                                <label class="control-label" translate="MT_ASSET_NAME">Asset Name</label>
                                <input class="form-control" ng-model="registerAsset.assetName" name="assetName" placeholder="{{ 'MT_ASSET_NAME' | translate }}" type="text"/>
                            </div>

                            <div class="form-group">
                                <label class="control-label" translate="MT_ASSET_AMOUNT">Asset Amount</label>
                                <input class="form-control" ng-model="registerAsset.assetAmount" name="assetAmount" placeholder="{{ 'MT_ASSET_AMOUNT' | translate }}" type="text" onkeyup="this.value=this.value.replace(/[^0-9-]+/,'');" />
                            </div>

                            <div class="form-group">
                                <label ng-if="isDisplayAssetId" class="control-label" translate="MT_ASSET_ID">Asset ID (TXID)</label>
                                <input ng-if="isDisplayAssetId" class="form-control" type="text" ng-model="newAssetId" id="newAssetId" name="newAssetId" readonly="readonly">
                            </div>

                            <div class="form-group">
                                <hr />
                                <button class="btn btn-primary btn-block" ng-click="registerTransaction()" ng-disabled="isDisplayAssetId" translate="BTN_REGISTER_TRANSACTION">Register Transaction</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- confirm Transaction Modal -->

    <script type="text/ng-template" id="myModalContent.html">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-hidden="true">&times;</button>
            <!--<h2 class="modal-title modal-title-warning" translate="WARNING">Warning!</h2>-->
            <h3 class="text-info">{{ 'TX_TYPE_TRANSFER_TRANSACTION' | translate }}</h3>
        </div>

        <div class="modal-body" ng-if="txType==128" >
            <p>{{ 'MT_TO_ADDRESS' | translate }}: <b>{{ToAddress}}</b></p>
            <hr />
            <p>{{ 'AMOUNT' | translate }}: <b>{{Value}}</b></p>
            <p>{{ 'ASSETNAME' | translate }}: <b>{{AssetName}}</b></p>
            <p>{{ 'ASSETID' | translate }}: <b>{{AssetID}}</b></p>
            <hr />
            <p>{{ 'MT_FROM_ADDRESS' | translate }}: <b>{{FromAddress}}</b></p>
            <p ng-if="txModify" class="text-danger">{{ 'MT_MODAL_DANGER_1' | translate }}</p>
            <hr />
            <p>{{ 'MT_YOU_ARE_CONNECTED_TO_NODE' | translate }}: <b>{{hostInfo[hostSelectIndex].hostName}}</b> ; &nbsp; {{ 'MT_PROVIDED_BY' | translate }}: <b>{{hostInfo[hostSelectIndex].hostProvider}}</b> </p>
            <p><b>{{ 'MT_ARE_YOU_SURE_TO_SEND_TRANSACTION' | translate }}</b></p>
        </div>

        <div class="modal-body" ng-if="txType==2" >
            <p>{{ 'AMOUNT' | translate }}: <b>{{Value/100000000}}</b></p>
            <p>{{ 'ASSETNAME' | translate }}: <b>{{AssetName}}</b></p>
            <p>{{ 'ASSETID' | translate }}: <b>{{AssetID}}</b></p>
            <hr />
            <p>{{ 'TX_CL_CLAIM_ADDRESS' | translate }}: <b>{{ClaimAddress}}</b></p>
            <p ng-if="txModify" class="text-danger">{{ 'MT_MODAL_DANGER_1' | translate }}</p>
            <hr />
            <p>{{ 'MT_YOU_ARE_CONNECTED_TO_NODE' | translate }}: <b>{{hostInfo[hostSelectIndex].hostName}}</b></b> ; &nbsp; {{ 'MT_PROVIDED_BY' | translate }}: <b>{{hostInfo[hostSelectIndex].hostProvider}}</b> </p>
            <p><b>{{ 'MT_ARE_YOU_SURE_TO_SEND_TRANSACTION' | translate }}</b></p>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">{{ 'BTN_NO_LET_ME_THINK' | translate }}</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="ok()" ng-if="txModify" disabled="disabled">{{ 'BTN_YES_SURE' | translate }}</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="ok()" ng-if="!txModify">{{ 'BTN_YES_SURE' | translate }}</button>
        </div>

    </script>

    <!-- alert -->
    <div class="navbar-fixed-bottom alert popup {{notifier.class}} animated-show-hide" ng-show="notifier.show" role="alert" aria-live="assertive">
        <button type="button" class="close" aria-label="dismiss" ng-click="notifier.close()" ><i class="fa fa-times" aria-hidden="true"></i></button>
        <i class="{{notifier.icon}}" aria-hidden="true"></i>
        <span class="sr-only">{{notifier.class}}</span>
        <span ng-bind-html="notifier.message"></span>
    </div>

    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?dc46e6b584efcf293a6a9805b90b3f35";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

</body>
</html>
