html,body{
	height: 100%;
	margin: 0;
	padding: 0;
}

.navbar .nav>li>a{
	font-size: 16px;
	font-weight: 100;
}

.main {
	min-height: 100%;
	font-family: "Source Sans Pro", sans-serif;
}

.glyphicon {
	margin-right:1em;
}

.alert.popup{
	position:fixed;
	border-radius:0;
	margin:0
}

.alert.popup a{
	text-decoration: underline;
}

span {
	word-wrap: break-word;
}

.show-password {
	-webkit-text-security: disc;
}

.btn-address .caretico {
	margin-left:1em;
}

.btn-address button, .btn-address ul li a {
	text-transform: none;
}

/* hash calc */
#dropTarget {
	width: 100%;
	height: 200px;
	background: #ccc;
	border: 1px solid #999;
	text-align: center;
	line-height: 200px;
}

.modal-title-warning {
	color: #ff0000;
}

.alert a,
.alert p {
	color: #fff;
}

#mainTab {
	font-size: 18px;
}
