html,body{
	height: 100%;
	margin: 0;
	padding: 0;
}

.navbar .nav>li>a{
	font-size: 15px;
	font-weight: 200;
}
.logo-title{
	color: white;
}

.main {
	min-height: 100%;
	padding-bottom: 60px;
	font-family: "Source Sans Pro", sans-serif;
}

.glyphicon {
	margin-right:1em;
}

.alert.popup{
	position:fixed;
	border-radius:0;
	margin:0
}

.alert.popup a{
	text-decoration: underline;
}

span {
	word-wrap: break-word;
}

.show-password {
	-webkit-text-security: disc;
}

.btn-address .caretico {
	margin-left:1em;
}

.btn-address button, .btn-address ul li a {
	text-transform: none;
}

/* hash calc */
#dropTarget {
	width: 100%;
	height: 200px;
	background: #ccc;
	border: 1px solid #999;
	text-align: center;
	line-height: 200px;
}

.modal-title-warning {
	color: #ff0000;
}

.alert a,
.alert p {
	color: #fff;
}

.footer {
	width:100%;
	background-color: #3E3F3A;
	padding-top:1.4em;
	padding-bottom: 0.8em;
}

.footer a,
.footer p {
	color: #fff;
	text-align: center;
	font-size: 15px;
	font-weight: 200;
}

#mainTab {
	font-size: 18px;
}
